{% extends "empbase.html" %}
{% block body %}
    <h4 class="mt-2" style="background-color:burlywood;text-align:center;" >
        Chenge Password
    </h4>
    <div style="width:60%;margin:0 auto;">
        <form action="{% url 'empchengepwd' %} " method="post">
                    {% csrf_token %}
            <div class="form-group mt-5">
                <label>Enter Old Password</label>
                <input type="password" name="oldpassword" class="form-control" required="True">
            </div><br/>
            <div class="form-group">
                <label>Enter New Password</label>
                <input type="password" name="newpassword" class="form-control" required="True">
            </div><br/>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="confirmpassword" class="form-control" required="True">
            </div><br/><br/>
            <div class="text-center">
            <input type="submit" value="Chenge" class="btn text-light" style="background-color:burlywood;" />
            </div>
        </form>
    </div>
{% endblock body %}