{% extends "empbase.html" %}
{% block body %}
        <h4 class="mt-3 text-center text-light" style="border-radius:10%;background-color:burlywood;margin-left:4px;">
        Employer Home
        </h4>
        <div>
                <p class="mt-5" style="margin-left:30px;margin-right:30px;text-align:justify;"> This entity provides functionalities related to
employers.<br/>
 Employers can post vacancy details and update the
details as and when necessary.<br/>
 Employers can search through applicant resumes
based on different criteria.<br/>
 Post jobs<br/>
 Resume Search<br/>
 featured jobs<br/></p>
        </div>
{% endblock body %}