{% extends "jobbase.html" %}
{% block body %}
    <h4 class="text-center mt-2 text-light" style="background-color:burlywood;">
        Chenge Password
    </h4>
{% if msg %}
<p style="color:red;text-align:center;">{{msg}}</p>
{% endif %}
    <div class="row mt-5 " style="width:100%;">
        <div clss="col-sm-3 ">

        </div>
        <div class="col-sm-6 " style="margin-left:180px;" >
           <form action="{% url 'jobchengepwd' %}" method="post">
                       {% csrf_token %}
               <div class="form-group">
                   <label>Enter old Password</label>
                   <input type="password" name="oldpassword" class="form-control" required="True">
               </div><br/>
               <div class="form-group">
                   <label>Enter New Password</label>
                   <input type="password" name="newpassword" class="form-control" required="True">
               </div><br/>
                <div class="form-group">
                   <label>Confirm New Password</label>
                   <input type="password" name="confirmpassword" class="form-control" required="True">
               </div><br/>
               <input type="submit" value="Submit" class="btn text-light" style="background-color:burlywood;">
           </form>
        </div>
        <div class="col-sm-3 ">

        </div>
    </div>

{% endblock body %}
