{% extends "jobbase.html" %}
{% block body %}
    <h4 class="text-center mt-2 text-light" style="background-color:burlywood;">
        Jobseeker Home
    </h4>
    <div class="mt-4" style="text-align:justify;margin-left:30px;margin-right:30px;">

        <p> This entity provides functionalities for job seekers.
Applicants can post their resumes with personal and
professional details.<br/>
 They can also update the resume as frequently as
required. The applicant can also browse through the
present vacancies available.<br>
 upload resume<br>
            Follow these :<br/>
 view jobs<br>

 search jobs<br/>
 Apply for jobs<br/>
<br/></p>

    </div>

{% endblock body %}
